@charset "UTF-8";

/* PASSION ONE */
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
/* SRIRACHA */
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@font-face {
    font-family: var(--fonte03);
    src: url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
    font-weight: 400;
    font-style: normal;
}

:root {
    --fonte01: arial, helvetica, sans-serif;
    --fonte02: 'Passion One';
    --fonte03: 'Sriracha';
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    
}

html, body {
    min-height: 100vh;
}

:root {
    --fonte01: arial, helvetica, sans-serif;
    --fonte02: 'Passion One';
    --fonte03: 'Sriracha';
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    font-family: var(--fonte02);
    font-size: 67px;
    font-variant: small-caps;
    padding-top: 50px;
     
}

header > p {
    font-family: var(--fonte01);
    padding-top: 5px;
    padding-bottom: 47px;
}

header > p > #a-header {
    text-decoration: none;
    color: white;
    
}

header > p > #a-header:hover {
    text-decoration: underline;
}

section {
    font-family: var(--fonte03);
    
}

section > p {
   font-size: 1.6em;
   margin: 50px 0px 70px 32px;
}

section > .normal {
    font-size: 1.6em;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.527);
    font-weight: 300;
    color: white;
    display: inline-block;
    width: 303px;
    margin: 60px 0px 60px 15px;
    padding: 5px;

}

section.imagem {
   text-align: left;
   background-size: cover;
   background-position: right center;
   background-attachment: fixed;
}

section#img01 {
    background-image: url('../imagens/background001.jpg');
    height: 480px;
}

section#img02 {
    background-image: url('../imagens/background002.jpg');
    height: 480px;
}

footer {
    background-color: black;
    color: white;
    font-family: var(--fonte01);
    text-align: center;
    padding: 10px;
     font-size: 1.1em;
}

footer > p > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}
